@use '../settings';

#header {
    width: 100%;
    background-color: settings.$color-dark;
    display: flex;
    padding: 0.5em 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    img {
        height: 2em;
    }

    #title {
        color: settings.$color-light;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0.35em;
    }
}