@use '../settings';

#header {
    width: 100%;
    background-color: settings.$color-dark;
    padding: 0.5em 1em 0.5em 0;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        img {
            height: 2em;
            max-height: 2em;
        }

        .option {
            height: 2rem;
            width: 2rem;
            cursor: pointer;

            svg {
                width: 100%;
                height: 100%;
                stroke: settings.$color-light;
                transition: all 0.25s ease-in-out;
                fill: transparent;
            }

            &:hover, &.active {
                svg {
                    stroke: settings.$color-active;
                }
            }
        }

        .star {
            &:hover, &.active {
                svg {
                    fill: settings.$color-active;
                }
            }
        }

        .logo {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        
            #title {
                color: settings.$color-light;
                font-size: 2.5em;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 0.35em;
                font-weight: 900;
            }
        }

        .search {
        }
    }

    #search_bar {
        display: none;

        &.active {
            display: block;
        }
    }
}