@use '../settings';

#pokemon_list {
    margin: 0;
    padding: 1em 2em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

    .icon {
        width: 10em;
        text-align: center;
    }

    .name {
        font-size: 2em;
        font-weight: bold;
        width: 80%;
    }
}