@use '../settings';

.pokemon_list_item {
    border-bottom: 0.5em solid settings.$color-light;
    border-radius: 0.25em;
    transition: all 0.25s ease-in-out;
    margin: 0 auto 1em auto;
    cursor: pointer;
    background-size: 10px 10px, 100% !important;
    width: 100%;
    display: grid;
    grid-area: 1/1;
    position: relative;

    @media (hover: hover) {
        &:hover {
            border-bottom-color: settings.$color-active;
            transform: translateY(-0.25em);
        }
    }

    .icon {
        min-width: 96px;
        text-align: center;
        margin: 0 0.5em 0 1em;
    }

    .pokemon-title {
        width: 80%;
        pointer-events: none;
    }

    .meta {
        display: flex;
        padding: 1em 0;
        height: 5em;
        flex-wrap: nowrap;
        align-items: center;
        color: settings.$color-light;
    }
}