@use '../settings';

.pokemon_list_item {
    border-bottom: 0.5em solid settings.$color-light;
    border-radius: 0.25em;
    transition: all 0.25s ease-in-out;
    max-width: 720px;
    margin: 0 auto 1em auto;
    cursor: pointer;
    background-size: 10px 10px, 100% !important;

    &:hover,
    &.open {
        border-bottom-color: settings.$color-active;
        transform: translateY(-0.25em);
    }

    @each $color-key-1,
    $color-value-1 in settings.$type_colors {
        &.type-#{$color-key-1} {
            background: repeating-linear-gradient(45deg, rgba(#333, 10%) 0, rgba(#333, 10%) 1px, rgba(#e5e5f7, 0%) 0, rgba(#e5e5f7, 0%) 50%), linear-gradient(135deg, darken($color-value-1, 10%) 0%, darken($color-value-1, 20%) 100%);
        }

        @each $color-key-2,
        $color-value-2 in settings.$type_colors {
            &.type-#{$color-key-1}-#{$color-key-2} {
                background: repeating-linear-gradient(45deg, rgba(#333, 10%) 0, rgba(#333, 10%) 1px, rgba(#e5e5f7, 0%) 0, rgba(#e5e5f7, 0%) 50%), linear-gradient(135deg, darken($color-value-1, 10%) 0%, darken($color-value-2, 10%) 100%);
            }
        }
    }

    .icon {
        width: 8em;
        text-align: center;
    }

    .title {
        width: 80%;

        .name {
            font-size: 2em;
            font-weight: bold;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
            margin-bottom: 0.05em;
        }

        .types span {
            padding: 0.15em 0.5em 0.2em 0.5em;
            margin-right: 0.5em;
            display: block;
            float: left;
            border-radius: 0.25em;
            background-color: #333;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            font-family: settings.$font-family-pixelated;
            line-height: 1;

            @each $color-key,
            $color-value in settings.$type_colors {
                &[title="#{$color-key}"] {
                    background-color: #{$color-value};
                }
            }
        }
    }

    .mid {
        padding: 0.15em 0.5em 0.13em 0.5em;
        display: block;
        border-radius: 0.25em;
        color: #fff;
        background-color: #333;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        // font-family: settings.$font-family-pixelated;
        line-height: 1;
        font-size: 0.8em;
        margin-right: 1em;
    }

    .meta {
        display: flex;
        padding: 1em 0;
        height: 5em;
        flex-wrap: nowrap;
        align-items: center;
        color: settings.$color-light;
    }
}