@use '../settings';

.pokemon_list_item {
    border-bottom: 0.5em solid settings.$color-light;
    border-radius: 0.25em;
    transition: all 0.25s ease-in-out;
    margin: 0 auto 1em auto;
    cursor: pointer;
    background-size: 10px 10px, 100% !important;
    width: 100%;

    &:hover,
    &.open {
        border-bottom-color: settings.$color-active;
        transform: translateY(-0.25em);
    }

    .icon {
        min-width: 96px;
        text-align: center;
        margin: 0 0.5em 0 1em;
    }

    .pokemon-title {
        width: 80%;
        pointer-events: none;
    }

    .mid {
        line-height: 1;
        font-size: 1em;
        margin-right: 1em;
        position: relative;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.5rem;

        svg {
            margin-top: -0.05rem;
            stroke: settings.$color-light;
            object-fit: contain;
            width: 100%;
            height: 100%;
            position:absolute;
            top: 0;
            left: 0;
            transition: all 0.25s ease-in-out;
            fill: transparent;
        }

        &.starred {
            svg {
                fill: settings.$color-light;
            }
        }

        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }

    .meta {
        display: flex;
        padding: 1em 0;
        height: 5em;
        flex-wrap: nowrap;
        align-items: center;
        color: settings.$color-light;
    }
}