@use '../settings';

.pokecard_navigation {
    height: 5vh;
    width: 85vw;
    max-width: 600px;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    @media (max-width: 600px) and (max-height: 800px) {
        display: none;
        height: inherit;
    }

    > div {
        color: settings.$color-dark;
        width: 5em;
        height: 2.5em;
        background-color: settings.$color-light;
        text-align: center;
        border-radius: 0.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        font-weight: bold;

        .icon {
            pointer-events: none;
        }

        &:hover {
            transform: translateY(-0.25em);
        }
    }

    .close {
        background-color: settings.$color-active;
        color: settings.$color-light;
    }
}