@use '../settings';

#pokecard-container {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    padding-top: 1rem;
    perspective: 100px;

    @media (max-height: 768px) {
        justify-content: start;
    }

    .curtain {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

#pokecard {
    background-color: #fff;
    border-radius: var(--radius);
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: var(--card_width);
    aspect-ratio: var(--card_aspect);
    display: grid;
    grid-area: 1/1;
    backface-visibility: hidden;
    min-height: calc(var(--card_width) * (1 / var(--card_aspect)));
    transform: rotate3d(0, 1, 0, var(--rx));
    transform-style: preserve-3d;

    .content-wrapper {
        height: 100%;
        display: grid;
        grid-area: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:before {
            --caret: 0;
            --width: 0.5em;

            content: "";
            border: var(--width) solid settings.$color-light;
            border-radius: var(--radius);
            box-sizing: border-box;
            border-bottom: none;
            position: absolute;
            top: var(--caret);
            left: var(--caret);
            right: var(--caret);
            bottom: var(--caret);
            pointer-events: none;
            z-index: 100;
        }
    }

    .visual {
        background-size: 10px 10px, 100% !important;
        border-radius: 0.5em 0.5em 0 0; 
        margin: 1rem 1rem 0 1rem;
        height: 23rem;

        .pokemon-title {
            padding-left: 1rem;
            position: absolute;
            z-index: 1;
            padding-top: 0.5rem;
        }

        .star {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 1rem;
            width: 3rem;
            height: 3rem;
        }
    }

    .pokecard-content {
        width: 100%;
        height: 17rem;
        position: relative;
        z-index: 10;
        overflow: hidden;
        width: var(--card_width);

        .track {
            overflow-x: scroll;
            width: var(--card_width);
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                height: 0.5em;
            }
            
            &::-webkit-scrollbar-track {
                background-color: settings.$color-dark;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: settings.$color-light;
            }

            > div {
                scroll-snap-align: start;
                width: var(--card_width);
                min-width: var(--card_width);
            }
        }
    }

    .underlayer {
        z-index: -2;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 0.5em #000;
        opacity: 1;

        &.active {
            z-index: -1;
            opacity: 0;
        }
    }

    &.ready {
        .underlayer.active {
            opacity: 1;
            transition: opacity 0.25s ease-out;
        }
    }
}