@use '../settings';

.pokecard_navigation {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: var(--card_width);
    min-height: 4.5rem;

    > div {
        color: settings.$color-dark;
        width: 5em;
        height: 2.5em;
        background-color: settings.$color-light;
        text-align: center;
        border-radius: 0.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        font-weight: bold;

        .icon {
            pointer-events: none;
        }

        @media (hover: hover) {
            &:hover {
                transform: translateY(-0.25em);
            }
        }
    }

    .close {
        background-color: settings.$color-active;
        color: settings.$color-light;
    }
}