@use '../settings';

#pokemon_list {
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: 0.5em;
    }
    
    &::-webkit-scrollbar-track {
        background-color: settings.$color-dark;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: settings.$color-light;
    }
}