@use '../../settings';

.artwork {
    max-width: 100%;
    height: calc(100% - 2.5em);
    padding: 2em 2em 0.5em 2em;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    transition: all 0.5s ease-out;

    @media (min-height: 861px) {
        margin-top: 3em;
        height: calc(100% - 5.5em);
    }

    @media (max-width: 600px) and (max-height: 800px) {
        margin-left: 20%;
    }

    &.loaded {
        transform: scale(1);
    }

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
}