@use '../../settings';

.artwork {
    max-width: 100%;
    height: calc(100% - 1em);
    padding: 3em 1em 0 1em;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    transition: all 0.5s ease-out;

    &.loaded {
        transform: scale(1);
    }

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
}