@use '../../settings';

.evolutions {
    .evolution {
        display: inline-block;
        height: 8em;
        margin: 0;
        position: relative;
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;

        &-inner {
            height: 6.5em;
            position: relative;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            @media (max-width: settings.$breakpoint) {
                height: 5.8em;
            }
        }

        &.active {
            .icon-background {
                border-color: settings.$color-active;
            }

            .name span {
                background-color: settings.$color-active;
                color: settings.$color-light;
            }
        }

        &:hover {
            transform: translateY(-0.25em);
        }

        .trigger {
            color: settings.$color-dark;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            @media (max-width: 480px) {
                right: 0.5em;
            }

            &.no-evolution {
                display: none;
            }

            span {
                background-color: settings.$color-light;
                padding: 0.15em 0.5em 0.2em 0.5em;
                border-radius: 0.25em;
                text-transform: uppercase;
                font-family: settings.$font-family-pixelated;
                line-height: 1;
            }
        }

        .icon {
            position: relative;
            height: 100%;

            img {
                position: relative;
                z-index: 1;

                @media (max-width: settings.$breakpoint) {
                    max-height: 100%;
                }
            }

            &-background {
                width: 80%;
                position: absolute;
                top: 10%;
                left: 10%;
                z-index: 0;
                border-radius: 1em;
                box-sizing: border-box;
                border: 0.25em solid settings.$color-dark;
                transition: border-color 0.25s ease-in-out;
                aspect-ratio: 1/1;
            }
        }

        .name {
            text-align: center;
            color: settings.$color-dark;
            position: absolute;
            bottom: 0.25em;
            left: 0;
            width: 100%;
            z-index: 2;
            pointer-events: none;

            @media (max-height: 768px) {
                justify-content: start;
            }

            @media (max-width: settings.$breakpoint) {
                bottom: -0.25rem;
            }

            span {
                background-color: settings.$color-light;
                padding: 0.2em 0.5em 0.2em 0.5em;
                border-radius: 0.25em;
                //text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
                text-transform: uppercase;
                font-family: settings.$font-family-pixelated;
                line-height: 1;
                transition: all 0.25s ease-in-out;
            }
        }
    }
}