@use '../../settings';

.evolutions {
    .evolution {
        display: inline-block;
        height: 6.75em;
        margin: 0;
        padding: 0 0.5em;
        position: relative;
        margin: 0 0.5em;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &.active {
            .icon-background {
                border-color: settings.$color-active;
            }

            .name span {
                background-color: settings.$color-active;
                color: settings.$color-light;
            }
        }

        &:hover {
            transform: translateY(-0.25em);
        }

        @media (max-width: 480px) {
           margin: 0;
        }

        .trigger {
            color: settings.$color-dark;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            &.no-evolution {
                display: none;
            }

            span {
                background-color: settings.$color-light;
                padding: 0.15em 0.5em 0.2em 0.5em;
                border-radius: 1em;
                text-transform: uppercase;
                font-family: settings.$font-family-pixelated;
                line-height: 1;
            }
        }

        .icon {
            position: relative;

            img {
                position: relative;
                z-index: 1;
            }

            &-background {
                width: 80%;
                height: 80%;
                position: absolute;
                top: 10%;
                left: 10%;
                z-index: 0;
                border-radius: 50%;
                box-sizing: border-box;
                border: 0.25em solid settings.$color-dark;
                transition: border-color 0.25s ease-in-out;
            }
        }

        .name {
            text-align: center;
            color: settings.$color-dark;
            position: absolute;
            bottom: 0.25em;
            left: 0;
            width: 100%;
            z-index: 2;

            span {
                background-color: settings.$color-light;
                padding: 0.2em 0.5em 0.2em 0.5em;
                border-radius: 0.25em;
                //text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
                text-transform: uppercase;
                font-family: settings.$font-family-pixelated;
                line-height: 1;
                transition: all 0.25s ease-in-out;
            }
        }
    }
}