@use '../../settings';

.stats {
    display: flex;
    margin: 0 1.5em 1.5em 1.5em;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 6.5em;

    .strength {
        color: settings.$color-light;
        font-weight: bold;
        height: 100%;
        min-width: 6rem;
        border-radius: 0.25em;
        display: flex;
        align-items: center;
        background: repeating-linear-gradient(45deg, rgba(#333, 10%) 0, rgba(#333, 10%) 1px, rgba(#e5e5f7, 0%) 0, rgba(#e5e5f7, 0%) 50%), linear-gradient(135deg, darken(settings.$color-active, 0%) 0%, darken(settings.$color-active, 5%) 100%);
        background-size: 10px 10px, 100% !important;
        border: 1px solid settings.$color-dark;
        box-sizing: border-box;

        span {
            font-size: 2.5em;
            display: block;
            text-align: center;
            min-width: 100%;
        }
    }

    .substats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 1;
        color: #fff;
        justify-content: space-between;
        margin-left: 1em;
        width: 100%;
        gap: 0.5rem 0.5rem;

        > div {
            width: calc(50% - 0.5em);
            font-size: 0.8em;
            padding: 0 0.5em;
            //border: 0.2em solid settings.$color-dark;
            background-color: settings.$color-dark;
            border-radius: 0.25em;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            border: 1px solid settings.$color-dark;
            box-sizing: border-box;

            .text {
                z-index: 1;
                position: relative;
                display: inline-block;
                font-weight: bold;
                width: 100%;

                .value {
                    float: right;
                }

                .title-short {
                    display: none;
                }

                @media (max-width: 600px) {
                    .title {
                        display: none;
                    }

                    .title-short {
                        display: inline-block;
                    }
                }
            }

            .progress {
                background-color: settings.$color-active;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: 0;
                transition: width 0.5s ease-in-out;
                background: repeating-linear-gradient(45deg, rgba(#333, 10%) 0, rgba(#333, 10%) 1px, rgba(#e5e5f7, 0%) 0, rgba(#e5e5f7, 0%) 50%), linear-gradient(135deg, darken(settings.$color-active, 0%) 0%, darken(settings.$color-active, 5%) 100%);
                background-size: 10px 10px, 100% !important;
            }
        }
    }
}