@use '../../settings';

.details-text {
    margin: 0 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;

    .pid {
        background-color: settings.$color-dark;
        padding: 0 0.35em;
        text-align: center;
        color: settings.$color-light;
        border-radius: 0.25em;
    }

    .flavor {
        color: settings.$color-light;
        text-shadow: 0 0 1px settings.$color-dark, 0 0 1px settings.$color-dark, 0 0 1px settings.$color-dark, 0 0 1px settings.$color-dark; 
    }
}