@use 'settings';

html,
body,
#root,
.app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


html,
body {
    font-size: settings.$base-size;
    color: settings.$color-dark;
    font-family: settings.$font-family-text;
    background-color: settings.$color-dark;
    background-image: url('../../public/background/water-pokemon.jpg');
    background-size: 100%;
}

.app {
    background: linear-gradient(0deg, rgba(settings.$color-dark, 80%) 0%, rgba(settings.$color-dark, 20%) 100%);
}