// colors
$color-light: #F2E2C4;
$color-dark: #261D11;
$color-active: #A6290D;
$color-secondary: #F2B705;
$color-black: #120e08;

// fonts
$base-size: 14px;
$font-family-text: 'Fira Sans', sans-serif;
$font-family-headline: 'Playfair Display', serif;
$font-family-monospace: 'Fira Mono', monospace;

$font-weight-normal: 400;
$font-weight-bold: 700;

// specific colors
$type_colors: (
    "Normal": #A8A878,
    "Pflanze": #78C850,
    "Feuer": #F08030,
    "Wasser": #6890F0,
    "Elektro": #F8D030,
    "Eis": #98D8D8,
    "Kampf": #C03028,
    "Gift": #A040A0,
    "Boden": #E0C068,
    "Flug": #A890F0,
    "Psycho": #F85888,
    "Käfer": #A8B820,
    "Gestein": #B8A038,
    "Geist": #705898,
    "Unlicht": #705848,
    "Drache": #7038F8,
    "Stahl": #B8B8D0,
    "Fee": #F0B6BC
);